### Ejercicio 1:

Mediante un algoritmo genético desarrollado en Python encontrar el valor máximo de la función
$
y=x^2
$
a. Indicar el resultado de la solución encontrada (valor de "x") si se ejecutan 10 lanzamientos del algoritmo.
Parámetros:

- Selección por ruleta
- Intervalo de la variable de decisión: [0,31] ∈ Z
- Aplicar elitismo: Sí
- Gen de cruza monopunto aleatorio
- Probabilidad de cruce: 0.92
- Probabilidad de mutación: 0.1
- Tamaño de la población: 4
- Generaciones 10

In [1]:
# set for reproducibility
import random

import numpy as np

random.seed(42)

In [2]:
from EvolutionaryAlgorithm import Roulette
import pandas as pd

executions = 10
df = pd.DataFrame()
for run in range(executions):

    ea = Roulette(
        generations=10,
        chromosome_length=5,
        population_length=4,
        maximize=True,
        target_fn=lambda x:x**2,
        elitism=True,
        crossover_rate=0.92,
        x_min=0,
        x_max=31,
        mutation_rate=0.1
    )
    ea.execute()
    chromosome, best, fitness = ea.get_best_individual()
    row = {"run": run, "best chromosome": chromosome,  "best solution": best, "fitness": fitness}
    df = pd.concat([df, pd.DataFrame([row])], ignore_index=True)      
    
display(df)

   run best chromosome  best solution  fitness
0    0           11111           31.0    961.0
1    1           11111           31.0    961.0
2    2           11111           31.0    961.0
3    3           11111           31.0    961.0
4    4           11101           29.0    841.0
5    5           11111           31.0    961.0
6    6           11111           31.0    961.0
7    7           11111           31.0    961.0
8    8           11101           29.0    841.0
9    9           11111           31.0    961.0

## Ejercicio 2
Minimizar mediante tres algoritmos genéticos desarrollados en Python la función $
y=x^2
$
a. Indicar el resultado de la solución encontrada (valor de "x") si se ejecutan 3 algoritmos un total de 30 lanzamientos cada uno.
Parámetros:
- Selección por Ranking, Ruleta y Torneo
- Intervalo de la variable de decisión: [-31,31] ∈ R (con un dígito decimal)
- Aplicar elitismo: Sí (Sólo en método ruleta y ranking)
- Gen de cruza monopunto aleatorio
- Probabilidad de cruce: 0.85
- Probabilidad de mutación: 0.09
- Tamaño de la población: 4
- Generaciones 10

In [3]:
from EvolutionaryAlgorithm import Roulette
import pandas as pd
import math

executions = 30
x_max = 31
x_min = -31
crossover_rate = 0.85
mutation_rate = 0.09

decimal_places = 1 # .1
bits = math.ceil(np.log2((x_max-x_min) * (10**decimal_places)))

df_roulette = pd.DataFrame()
for run in range(executions):

    ea = Roulette(
        generations=10,
        chromosome_length=bits, 
        population_length=4,
        maximize=True,
        target_fn=lambda x:x**2,
        elitism=True,
        crossover_rate=crossover_rate,
        x_min=x_min,
        x_max=x_max,
        mutation_rate=mutation_rate
    )
    ea.execute()
    chromosome, best, fitness = ea.get_best_individual()
    row = {"run": run, "best chromosome": chromosome,  "best solution": best, "fitness": fitness}
    df_roulette = pd.concat([df_roulette, pd.DataFrame([row])], ignore_index=True)      
    
display(df_roulette)

    run best chromosome  best solution     fitness
0     0      0000001001     -30.454545  927.479339
1     1      1111111001      30.636364  938.586777
2     2      0000000010     -30.878788  953.499541
3     3      0000000000     -31.000000  961.000000
4     4      1111111011      30.757576  946.028466
5     5      0000000000     -31.000000  961.000000
6     6      0000000000     -31.000000  961.000000
7     7      1111101011      29.787879  887.317723
8     8      0000000001     -30.939394  957.246097
9     9      1111111110      30.939394  957.246097
10   10      1111000100      27.424242  752.089073
11   11      1111111110      30.939394  957.246097
12   12      1111110010      30.212121  912.772268
13   13      0000000010     -30.878788  953.499541
14   14      0000000001     -30.939394  957.246097
15   15      0000000000     -31.000000  961.000000
16   16      0000000000     -31.000000  961.000000
17   17      1111111011      30.757576  946.028466
18   18      0000000010     -30.878788  953.499541
19   19      1111111111      31.000000  961.000000
20   20      0000100100     -28.818182  830.487603
21   21      1111111001      30.636364  938.586777
22   22      0000000000     -31.000000  961.000000
23   23      1111111101      30.878788  953.499541
24   24      0000000100     -30.757576  946.028466
25   25      1111111011      30.757576  946.028466
26   26      0000000111     -30.575758  934.876951
27   27      1111110110      30.454545  927.479339
28   28      1111111111      31.000000  961.000000
29   29      0000000011     -30.818182  949.760331

In [4]:
from EvolutionaryAlgorithm import LinearRanking
df_linear_ranking = pd.DataFrame()
for run in range(executions):

    ea = LinearRanking(
        generations=10,
        chromosome_length=bits, 
        population_length=4,
        maximize=True,
        target_fn=lambda x:x**2,
        elitism=True,
        crossover_rate=crossover_rate,
        x_min=x_min,
        x_max=x_max,
        mutation_rate=mutation_rate
    )
    ea.execute()
    chromosome, best, fitness = ea.get_best_individual()
    row = {"run": run, "best chromosome": chromosome,  "best solution": best, "fitness": fitness}
    df_linear_ranking = pd.concat([df_linear_ranking, pd.DataFrame([row])], ignore_index=True)      
    
display(df_linear_ranking)

    run best chromosome  best solution     fitness
0     0      0000000000     -31.000000  961.000000
1     1      0000001000     -30.515152  931.174472
2     2      0000000000     -31.000000  961.000000
3     3      1111101111      30.030303  901.819100
4     4      1111111111      31.000000  961.000000
5     5      1111111111      31.000000  961.000000
6     6      1111110111      30.515152  931.174472
7     7      0000001100     -30.272727  916.438017
8     8      1111111111      31.000000  961.000000
9     9      0000000001     -30.939394  957.246097
10   10      1111111111      31.000000  961.000000
11   11      1111111111      31.000000  961.000000
12   12      0000001100     -30.272727  916.438017
13   13      0000000000     -31.000000  961.000000
14   14      1111111111      31.000000  961.000000
15   15      1111111111      31.000000  961.000000
16   16      1111110101      30.393939  923.791552
17   17      1111111111      31.000000  961.000000
18   18      1111101110      29.969697  898.182736
19   19      1111111111      31.000000  961.000000
20   20      1111111111      31.000000  961.000000
21   21      0000011000     -29.545455  872.933884
22   22      0000010000     -30.030303  901.819100
23   23      0000000000     -31.000000  961.000000
24   24      0000000000     -31.000000  961.000000
25   25      0000000000     -31.000000  961.000000
26   26      0000001100     -30.272727  916.438017
27   27      1111111111      31.000000  961.000000
28   28      0000100000     -29.060606  844.518825
29   29      1111111011      30.757576  946.028466

In [5]:
from EvolutionaryAlgorithm import Tournament
df_tournament = pd.DataFrame()
for run in range(executions):

    ea = Tournament(
        tournament_size=3,
        generations=10,
        chromosome_length=bits, 
        population_length=4,
        maximize=True,
        target_fn=lambda x:x**2,
        elitism=False,
        crossover_rate=crossover_rate,
        x_min=x_min,
        x_max=x_max,
        mutation_rate=mutation_rate
    )
    ea.execute()
    chromosome, best, fitness = ea.get_best_individual()
    row = {"run": run, "best chromosome": chromosome,  "best solution": best, "fitness": fitness}
    df_tournament = pd.concat([df_tournament, pd.DataFrame([row])], ignore_index=True)      
    
display(df_tournament)

    run best chromosome  best solution     fitness
0     0      1110000111      23.727273  562.983471
1     1      1011110011      14.757576  217.786042
2     2      0000011110     -29.181818  851.578512
3     3      1110101011      25.909091  671.280992
4     4      1101001111      20.333333  413.444444
5     5      1110111001      26.757576  715.967860
6     6      1111100001      29.181818  851.578512
7     7      0000101101     -28.272727  799.347107
8     8      1110100110      25.606061  655.670340
9     9      1101010101      20.696970  428.364555
10   10      0001010101     -25.848485  668.144169
11   11      0011001000     -18.878788  356.408632
12   12      1111100001      29.181818  851.578512
13   13      1111100000      29.121212  848.044995
14   14      0010010101     -21.969697  482.667585
15   15      1111101011      29.787879  887.317723
16   16      0101011011      -9.969697   99.394858
17   17      0000001000     -30.515152  931.174472
18   18      0000100011     -28.878788  833.984389
19   19      1111010000      28.151515  792.507805
20   20      0000010000     -30.030303  901.819100
21   21      1110111110      27.060606  732.276400
22   22      0001101100     -24.454545  598.024793
23   23      0010001100     -22.515152  506.932048
24   24      0001011000     -25.666667  658.777778
25   25      0011111010     -15.848485  251.174472
26   26      1111110001      30.151515  909.113866
27   27      0000011011     -29.363636  862.223140
28   28      1110001000      23.787879  565.863177
29   29      1111110110      30.454545  927.479339

In [6]:
comparison = pd.DataFrame()
algorithms = ['LinearRanking', 'Roulette', 'Tournament']
for dataframe, algorithm in zip([df_linear_ranking, df_roulette, df_tournament], algorithms):
    row = {'algorithm': algorithm }
    desc = dataframe['best solution'].describe()
    for statistic in ['min', 'mean', 'max', 'std']:
        row[statistic] = desc[statistic]
    comparison = pd.concat([comparison, pd.DataFrame([row])], ignore_index=True)     
    
display(comparison)

       algorithm        min      mean        max        std
0  LinearRanking -31.000000  2.191919  31.000000  31.100985
1       Roulette -31.000000 -2.191919  31.000000  31.056343
2     Tournament -30.515152  2.442424  30.454545  26.033100